* {
  padding: 0;
  margin: 0;
  font-family: 'Tajawal';
}
body{

  height: 100lvh;
}
.image-element {
  width: 245px;
  height: 309px;
  border-radius: 10px;
  background-color: #c8c8d0;
  border-radius: 10px;
  background-image: url(Rectangle\ 25.png);
  margin-top: 60px;
}

.doctors-app {
  direction: rtl;
}

.doc-profile,
.doc-schedule {
  border-left: 1px solid #00000020;
}

.date-card {
  box-sizing: border-box;
  width: 145px;
  height: 165px;
  display: block;
  border: 1px solid #00000020;
  border-radius: 15px;
}
.date-card:hover,
.time-schedule:hover{
  background-color: #2d686b6c;
}

.fa-chevron-circle-right:hover,
.fa-chevron-circle-left:hover{
  cursor: pointer;
}


.day {
  box-sizing: border-box;
  border-bottom: 1px solid #00000020;
  font-weight: bold;
  margin-bottom: 10px;

}

.date {
  font-weight: bold;
  font-size: 30px;
  color: #2D686B;
}

.time-schedule{
  display: flex;
  width: 113px;
  height: 53px;
  border: 1px solid #00000020;
  border-radius: 15px;
  justify-content: center;
}

.time{
  margin: auto;
  font-size: 20px;
}

.morning-schedule,
.afternoon-schedule {
  display: flex;
  flex-wrap: wrap;
  gap: 4rem;

  align-items: center; 
}

.time-schedule {
  text-align: center;
}
.book-now-btn{
  width: 155px;
  height: 60px;
  color: #ffffff;
  background-color: #2D686B;
  border: 1px solid #00000020;
  border-radius: 20px;
  outline: none;

}
.book-now-btn:hover{
  background-color: #38878b;
}

.google-play,
.apple-app{
  width: 200px;
  height: 60px;
  border-radius: 15px;
  border: 1px solid #00000020;
  text-align: center;
  background-size: cover; 
  margin: 0 15px;

  
}

.doc-contacts{
 flex-grow: 1;
 flex-direction: column;
 height: inherit;
 display: flex;
 justify-content: space-between;
 align-items: center;
 
}

.contact-info >*> .fa-solid{
  color: #13595d;
  align-items: left;
}

.linkgroup{
  margin-bottom: 10px;
}
.google-play{
  background-image: url('google-icon.png');
  
}
.apple-app{
  background-image: url('apple-pay.png');
}

.google-play:hover,
.apple-app:hover{
  border: 2px solid #3b6364f9;
}