

.container-box, 
.schedule{
  border-left: 1px solid #00000020;
}
.image-element {
  width: 245px;
  height: 309px;
  border-radius: 10px;
  background-color: #c8c8d0;
  border-radius: 10px;
  background-image: url(Rectangle\ 25.png);
  margin-top: 60px;
}

.date-card {
  box-sizing: border-box;
  width: 140px;
  height: 180px;
  display: block;
  border: 1px solid #00000020;
  border-radius: 15px;
}

.date-card:hover,
.time-schedule:hover{
  background-color: #2d686b6c;
}

.fa-chevron-circle-right:hover,
.fa-chevron-circle-left:hover{
  cursor: pointer;
}

.date {
  font-weight: bold;
  font-size: 35px;
  color: #2D686B;
}
.month-year{
  padding-bottom: 10px;
  font-weight: bold;
  margin-top: 20px;
}
.fa-solid, 
.fas{
  color: #2D686B;
 
}

.time-schedule{
  display: flex;
  width: 113px;
  height: 53px;
  border-radius: 15px;
  justify-content: center;
  align-items: center;
}

.book-now-btn{
  color: #ffffff;
  background-color: #2D686B;
  outline: none;
}
.book-now-btn:hover{
  background-color: #38878b;
  margin-bottom: 20px;
}
.google-play,
.apple-app{
  width: 175px;
  height: 50px;
  border-radius: 15px;
  border: 1px solid #00000020;
  text-align: center;
  background-size: cover; 
  margin: 0 15px;
}
.google-play{
  background-image: url('google-icon.png');
}

.apple-app{
  background-image: url('apple-pay.png');
}

.google-play:hover,
.apple-app:hover{
  border: 2px solid #3b6364f9;
}
@media (max-width:430px){
  
  .date-card > .px-4{
    padding: 0 !important;
    margin-top: 0 !important;
    font-size: 10px;
  }
  .date-card {
    box-sizing: border-box;
    width: 75px;
    height: 140px;
    display: block;
    border: 1px solid #00000020;
    border-radius: 15px;
   
  }

  .time-schedule{
    width: 95px;
    height: 53px;
    border-radius: 15px;
   
  }
  .afternoon-schedule{
    column-gap: 4px !important;
  }

  .doc-appointment-time> .justify-content-start{
    justify-content: space-between !important;
  }
  .doc-appointment-time> .justify-content-start:last-child{
    justify-content: space-between !important;
  }

}